<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
    <h2>All Users</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.mobile }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>